#uno, #score, #comienzo{
    background-color: #786fa6; /* Green */
    border: transparent;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    width: 500px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
}
#uno:hover,
#comienzo:hover,
#score:hover{
    background: linear-gradient(0deg, #786fa6 0%, #574b90 100%); /* Green */
    color: white;
    border: 5px solid white;
}