/* $btn-color: #9AD3DE; */
.tituDos{
    font-size: 45px;
	text-align: center;
	color: #666666;
	margin: 0 0 30px 0;
}
.botonDeCerra{
    background: #9AD3DE;
	border: 0;
	border-radius: 4px;
	padding: 18px 30px;
	font-size: 18px;
	color: #FFFFFF;
	cursor: pointer;

	&:focus {
		outline: none;
	}
	&:hover {
		background: lighten(#9AD3DE, 10%);
	}
}
