.popup{
	/* margin-left: 300px; */
	/* margin-right: 600px; */
    /* margin: 300px; */
    left: 30%;
    height: 250px;
    width: 500px;
    background: #e74c3c;
    font-size: 35px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 22px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border: black 5px solid;
}