#ingname{
    font-family: "arcade2";
    padding: 15px 32px;
    width: 430px;
    font-size: 120%;
    background-color: transparent;
    border-radius: 5px;
    border: transparent;
    border-bottom: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    display: flex;
}
#ingresNombre{
    font-size: 30px;
    padding: 1px;
}